body {
  background-color: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  background: url(download.jpg) no-repeat center center / cover;
}

.hero .navbar {
  display: flex;
  /* position: fixed; */
  /* top: 0%; */
  background-color: #087e8e;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
.hero .navbar h1 {
  color: #072b30;
  margin-left: 40px;
}
.hero .navbar nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-right: 40px;
  margin-left: 60px;
}
.hero .navbar nav ul li a {
  color: rgb(238, 250, 206);
  font-size: 18px;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}

.hero .navbar nav ul li :hover {
  color: rgb(72, 156, 159);
}
span {
  color: rgb(254, 117, 238);
  font-style: bold;
  font-family: serif;
}
.btn {
  border: 2px solid orange;
  padding: 5px 5px;
  text-align: center;
  font-size: 15px;
  font-family: bold;
  font-weight: 800;
  color: rgb(238, 250, 206);
  text-decoration: none;
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 25px;
}
.hero .content h1 {
  margin-top: 150px;
  margin-left: 45px;
  font-size: 50px;
  color: rgb(238, 250, 206);
  font-weight: 900;
  justify-content: center;
  align-items: center;
}
.content span {
  color: rgb(225, 160, 76);
  font-style: bold;
  font-family: serif;
}

.hero .content p {
  color: white;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 45px;
  margin-bottom: 40px;
  font-family: cursive;
}
.btn  {
  color: rgb(238, 250, 206);
  border: 2px solid orange;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 50px;
  font-weight: 20px;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.btn:hover{
background-color: orange;
}
.hero2 {
  height: 100vh;
  background: url(/download3.jpg) no-repeat center center / cover;
}
.about {
  margin: 50px, 30px;
}
.hero2 .about-content h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}
.about-content img {
  width: 500px;
}
.hero2 .about-content h2 {
  color: rgb(248, 163, 234);
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.6);
}
.card img {
  width: 400px;
  height: 350px;
  float: left;
  margin-right: 20px;
}

.card h3 {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(234, 228, 217);
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 100px;
  align-items: center;
  font-size: 30px;
}
.card p {
  color: rgb(234, 228, 217);
  text-align: center;
  font-size: x-large;
  margin-top: 60px;
  font-weight: 500;
}
.menu {
  margin: 50px, 30px;
  background-color: rgba(20, 12, 1, 0.885);
}
.menu h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
}
.menu h2 {
  color: rgb(248, 163, 234);
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.6);
}
.menu p {
  color: rgb(248, 163, 234);
  margin-top: 50px;
  text-align: center;
}
.menu h3 {
  color: white;
  margin: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}
.menu h6 {
  color: white;
  margin-left: 80px;
  font-family: cursive;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 20px;
}
.card1 img {
  width: 700px;
  height: 450px;
  float: right;
  margin-top: 50px;
}
.special {
  margin: 50px, 30px;
}
.special h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.special h2 {
  color: rgb(248, 163, 234);
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
  background-color: black;
}
.food {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card2 {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background:rgba(0, 0, 0, 0.3)
}
.card2 img {
  width: 250px;
  height: 250px;
}
.card2 button {
  color: white;
  background-color:rgba(248, 246, 246, 0.3);
  text-align: center;
  font-weight: 600;
  font-family:Verdana, Geneva, Tahoma, sans-serif 
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
}
.card2 h3{
  margin-top: 50px;
  color: white;
  font-style: oblique;
  font-weight: 800;
}
.hero3 {
  height: 100vh;
  background: url(/backpart1.jpg) no-repeat center center / cover;
}
.event {
  margin: 50px, 30px;
}
.event h1{
 color: white;
 margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}
.card img {
  width: 600px;
  height: 400px;
  float: left;
  margin-right: 20px;
}
.card h3 {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(234, 228, 217);
  margin-right: 20px;
  margin-left: 100px;
  align-items: center;
  font-size: 30px;
}
.card h1{
  color: rgb(74, 237, 106);
  text-align: left;
  margin-bottom: 5px;
}
.card h2{
  color:white;
  margin-top: 50px;
  text-align: center;
}
.hero5{
  height: 100vh;

}
.hero5 .form label{
  height: 50px;
}
.form{
  padding: 50px;
}
.form h1{
 color: white;
 margin-bottom: 50px;
  text-align: center;
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
}
.form h2{
  margin-bottom: 25px;
  font-size: 30px;
}
.hero5 .form label{
 align-items: center;
 display: inline-block;
 justify-content: space-between;
}
label{
  font-size: 40px;
  width: 40px;
  justify-content: space-between;
 display:flex; 
}
.form input{
  font-size: 20px;
  padding:5px;
  background:rgb(226, 243, 185);
  font-family:sans-serif;
  justify-content: space-between;
}
.form img{
  height: 400px;
  width: 600px;
  float: right;
}
/* .form button{
margin-left: 50px;
padding: 15px;
color:black;
font-weight: 600;
border-radius: 10px;
font-size: 15px;
background-color: white;
}
.form button:hover{
  background-color:rgb(235, 235, 77);
} */
.btn{
  margin-top: 30px;
  color:white;
  background-color: black;
  font-family:Arial, Helvetica, sans-serif;
}
.btn:hover{
  color: black;
}
.hero6{
  height: 100vh;
}
.gallery h2{
  margin-top: 50px;
  margin-left: 70px;
}
.gallery h1{
  color: rgb(223, 156, 32);
  margin-top: 30px;
  font-size: 30px;
  margin-left: 70px;
}
 .hero6 {
  height: 150vh;
}
.container .card{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  place-items: center;
  height: 100px;
  width: 100px;
}
.container .card img{
  width: 400px;
  height: 300px;
}
.hero7{
  width: 100vh;
}
.contact h1{
color:  rgb(223, 156, 32);;
  align-items: center;
  font-size: 50px;
  margin-top: 40px;
  margin-left: 70px;
}
.contact h2{
  margin-top: 50px;
  margin-left: 70px;
  font-size: 20px;
}
.contact h3{
  font-size: 30px;
  color: white;
  margin: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
}
.contact h6{
  color: white;
  margin-left: 80px;
  font-family: cursive;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 20px;
}
.footer{
  background-color:rgb(56, 53, 47);
  height: 400px;
  margin-top: 60px;
   display: flex;
  justify-content: space-around;
}
footer{
  color: white;
  text-align: left;
  padding: 4px;
}
.footer-content p{
margin-top: 40px;
color: bisque;
}
footer h1{
  margin-top: 40px;
  font-size: 40px;
  color: violet;
} 
.footer-content1 h2{
  margin-top: 50px;
}
.footer-content1 p{
  color: bisque;
}
footer .btn{
  color:white;
  background-color: black;
  font-family:Arial, Helvetica, sans-serif;
}
.btn:hover{
  color: black;
}
.icons{
  margin-top: 30px;
  margin-left: 10px;
}
.icon{
  text-decoration: none;
  font-size: 30px;
  color:beige;
  margin-right: 20px;
}
.icon:hover{
  color:cadetblue;
}
.end{
  background-color:rgb(56, 53, 47);
  height: 45px;
}
.end p{
  color: bisque;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}